<!DOCTYPE html>
<html lang="en">
<%- include('./../partials/head.ejs'); %>

<body>
    <main>
        <h1>Most popular games</h1>
        <form method="GET" action="/">
            <input type="text" name="search" placeholder="search">
        </form>
        <section>
            <h2>Favorieten</h2>
            <p>Je hebt nog geen favorieten</p>
        </section>
        <section class="games-section">
            <h2>Games</h2>
            <form method="GET" action="/">
                <!-- check button state to see if they need to be checked -->
                <% if ('all' === filteredGenre) { %>
                <input name='genres' value="all" id="all" type="radio" checked />
                <% } else { %>
                <input name='genres' value="all" id="all" type="radio" />
                <% } %>
                <label for="all">All</label>

                <% genres.forEach(genre => { %>
                <% if (genre === filteredGenre) { %>
                <input name='genres' value="<%= genre %>" id="<%= genre %>" type="radio" checked />
                <% } else { %>
                <input name='genres' value="<%= genre %>" id="<%= genre %>" type="radio" />
                <% } %>
                <label for="<%= genre %>"><%= genre %></label>
                <% }) %>
                <button class="submit-genre-button">Filter</button>
            </form>
            <div class="games">

                <% if (searchQuery) { %>
                <p class="search-query">You have searched for: <strong><%= searchQuery %></strong></p>
                <% } %>

                <% if (games.length === 0){ %>
                <strong class="no-results-message">There are <span>no results</span> to show :( </strong>
                <% } %>

                <% games.forEach(game => { %>
                <article class="game">
                    <a href='games/<%= game.id %>'>
                        <header>
                            <h2><%= game.name %></h2>
                            <h3>Rating: <%= game.rating %></h3>
                        </header>

                        <p class="genre"><%= game.genres[0].name %></p>
                        <div class="thumbnail-container">

                        </div>
                        <img loading="lazy" src="<%= game.background_image %>" alt="" />
                    </a>
                </article>
                <% }) %>
            </div>
            <% if (prevPage !== 0) { %>
            <a class="prev-button" href="/?page=<%= prevPage %>">Previous</a>
            <% } %>
            <a class="next-button" href="/?page=<%= nextPage %>">Next</a>
        </section>
    </main>
    <script src="/scripts/filter.js" defer></script>
</body>

</html>