<%- include('../partials/head.ejs'); %>

<body>
    <main>
        <h1>Most popular games</h1>
        <form>
            <input type="text" placeholder="search">
        </form>
        <section>
            <h2>Favorites</h2>
            <p class="no-favorites-message">You have no favorites yet</p>
            <ul class="favorites">
            </ul>
        </section>
        <section class="games-section">
            <h2>Games</h2>
            <form>
                <input name='genres' value="all" id="all" type="radio" checked />
                <label for="all">All</label>
                <% genres.forEach(genre => { %>
                <input name='genres' value="<%= genre %>" id=" <%= genre %>" type="radio" />
                <label for="<%= genre %>"><%= genre %></label>
                <% }) %>
            </form>
            <div class="games">
                <% games.forEach(game => { %>
                <article class="game">
                    <a href='games/<%= game.id %>'>
                        <header>
                            <h2><%= game.name %></h2>
                            <h3>Rating: <%= game.rating %></h3>
                        </header>

                        <p class="genre"><%= game.genres[0].name %></p>
                        <div class="thumbnail-container">

                        </div>
                        <img src="<%= game.background_image %>" alt="" />
                    </a>
                </article>
                <% }) %>
            </div>
        </section>
        <section>
            <h2>All platforms</h2>
            <div class="platforms">
                <% platforms.forEach(platform => { %>
                <article class="platform">
                    <div class="image-overlay"></div>
                    <div class="overlay">
                        <h2><%= platform.name %></h2>
                        <h3>Games: <span><%= platform.games_count %></span></h3>
                    </div>
                    <img src="<%= platform.image_background %>" alt="" />
                </article>
                <% }) %>
            </div>
        </section>
    </main>
</body>